
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3> I'm in the AppComponent!</h3>
            <hr>
            <div class="app-server"> <!--It is not mandatory to name class by component name. Any name can be used to refer to this class.-->
                <p> Calling app-server in app.component.html i.e. dashboard of our website</p>
                <app-server></app-server>
            </div>
            <hr>
            <div class="app-servers">
                <p> Calling app-servers in app.component.html i.e. dashboard of our website </p>
                <app-servers></app-servers>
            </div>
        </div>
    </div>
</div>






<router-outlet></router-outlet>